/* You can add global styles to this file, and also import other style files */

/* KL added this from Youtube vid for lightbox */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 700px) {

    body{
        background-color:#B1AE91;
    }

}

@media screen and (max-width: 600px) {

    body{
        background-color:#B2675E;
    }

}

/*Colour Scheme
(dark green)Black Olive: 37392E
(light green)Sage: B1AE91
(reddish brwn) Redwood: B2675E
(mid green) Reseda green: 839073

*/