<div class="masthead" style="background-image: url('./assets/aboutimages/combinerow2_7068.JPG');">
    <div class="color-overlay d-flex justify-content-center align-items-center">
        <h1>About</h1>
    </div>
</div>

<!--3 Cards total in ABOUT Page-->
<div class="row">
    <div id="home-card-container" class="col-lg-12">
        <!--Card1: Our HISTORY -->
        <div class="card-info">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/aboutimages/famhistory_01.jpg" class="img-fluid rounded-start mt-3"
                            alt="image of WV farm">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title display-6">Our History</h5>
                            <p>George and Will Laing walked from Saskatoon, SK in the fall of 1903 to choose a
                                homestead.
                                The two brothers got to
                                the top of the big hill on Sweetgrass Reserve and could see west for miles. There were
                                rows
                                of corner
                                mounds marking the quarter sections. George took a homestead, NE 27-43-20 W3, in 1902 in
                                the
                                Gallivan area. The area thrived with new young families and Georges’s son Bill Laing was
                                born on
                                November 5, 1925. He purchased the home quarter SW 26-43-20 W3 in 1949 from George
                                Blackstock.
                                He farmed with his brothers Gordon and Calvin as a mixed operation until 1957. On the
                                livestock side, they raised
                                cattle, pigs, chickens, and milking cow. On the grain side of their operation they grew
                                wheat, barley and oats.<br><br> Bill farmed on his own from
                                1957 until his son, Les, joined formally in 1974. Les had obtained his Diploma in
                                Agriculture in 1975
                                and they farmed together until 2000, when Bill passed away. Willow View has had the help
                                of
                                foreign exchange
                                youth since 1992. It is with the help of international employees that the farm has
                                continued
                                to grow. Les continues to buy and
                                rent additional land. The farm was incorporated March 31, 2008 under Willow View Farm
                                Ltd.
                                The
                                cattle operation was discontinued in 2009. Crops grown are wheat, canola, field peas and
                                barley.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Card2:LAND BASE-->
        <div class="card-info">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title display-6">Land Base</h5>
                            <p class="card-text"> Willow View operations are based in northwest Saskatchewan. The
                                business
                                consists of a combination of owned and rented land as well as customized contract
                                farming
                                agreements. Currently the land base is used to grow canola, field peas, wheat and
                                barley.<br> <br> In Saskatchewan, the soils were developed in glacial deposits which has
                                resulted in a variety of soil zones that exist in the province. Willow View farms in the
                                Black soil zone, which has a darker colour and contains high levels of organic matter of
                                the
                                surface soil horizons.<br><br>The mapping of soil zones tends to reflect the climatic
                                gradient.The Black soil zone is in a transitional environment between forest and
                                grassland.
                                In north Saskatchewan, the climate is cooler and humid. In south Saskatchewan, the
                                climate
                                is dry and warm. Temperatures vary greatly between seasons. In the crop year, there are
                                highs of 30 degrees Celsius and lows of 8 degrees Celsius <br><br>A single crop is grown
                                each year over the course of three to four months. Seeding commences in May, followed by
                                in-crop spraying in June, fungicide application in July, desiccation in August and
                                harvest
                                in September. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img id="landbase_photo" src="./assets/aboutimages/map_123.png"
                            class="img-fluid rounded-start mt-4" alt="image of crops grown">
                        <img id="diagram" src="./assets/homeimages/seasoncycle.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!--Card3:EQUIPMENT-->
        <div class="card-info">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/aboutimages/drill_22432.jpg" class="img-fluid rounded-start mt-3"
                            alt="image of wv employee">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <dl class="row">
                                <h5 class="card-title display-6">Equipment</h5>
                                <dt class="col-sm-3">Seeding</dt>
                                <dd class="col-sm-9">Bourgault 5710 & 3320 air drills (64' and 84')<br> John Deere
                                    tractors
                                    9620R and 9560R<br> Case Tractor 535</dd>

                                <dt class="col-sm-3">Sprayer</dt>
                                <dd class="col-sm-9">
                                    <p>Case 4410 & 4420 high clearance sprayer</p>
                                </dd>

                                <dt class="col-sm-3">Harvest</dt>
                                <dd class="col-sm-9">John Deere S690 combines *4 <br> Brandt grain cart<br>Freightline
                                    semi-trucks, four (one Cat, two Ford)<br> Load King trailers, two sets<br></dd>

                                <dt class="col-sm-3 text-truncate">Industrial Equipment</dt>
                                <dd class="col-sm-9">Payloader<br> Backhoe <br> Excavator</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>