<br>

<div id="login-container" class="row">
    <div class="col-lg-4 offset-lg-4">
        <h2 class="mb-3 mx-5">Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3 mx-5">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>

            <div class="mb-3 mx-5">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>

            <div class="mb-3 mx-5">
                <button type="submit" class="btn btn-dark" [disabled]="loginForm.invalid">Sign In</button>
                <a id="register" routerLink="/register">Register</a>
            </div>
        </form>  
    </div>

</div>