<div id="header"><button type="button" class="btn btn-outline-secondary"><a id="login" routerLink="/profiles/admin"
            class="mx-5">Login</a></button></div>

<nav id="sticky-nav" class="sticky-top">
    <div>
        <img id="wvlogo" src="./assets/logo/wv_whitetext.png">
    </div>
    <div class="pt-5">
        <ul class="nav nav-underline justify-content-end">
            <li class="nav-item mx-3">
                <a routerLink="/" class="nav-link isactive" aria-current="page" href="#" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/about" class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/forsale" class="nav-link" href="#">For Sale</a>
            </li>
            <li class="nav-item mx-3">
                <a routerLink="/gallery" class="nav-link" href="#">Gallery</a>
            </li>

        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<div id="footer"> &copy; 2023 Willow View Farm Ltd.| Made with &hearts; by KLaing </div>