

<div id="header"><button type="button" class="btn btn-outline-secondary"><a id="login" routerLink="/profiles" class="mx-5">Login</a></button></div>

<nav class="sticky-top">
    <img  id="wvlogo" src="./assets/logo/wv_blacktext.png">
    <ul class="nav nav-underline justify-content-end">
        <li class="nav-item mx-3">
            <a routerLink="/" class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLink="/about" class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLink="/forsale" class="nav-link" href="#">For Sale</a>
        </li>
        <li class="nav-item mx-3">
            <a routerLink="/gallery" class="nav-link" href="#">Gallery</a>
        </li>

    </ul>
</nav>
<router-outlet></router-outlet>

<div id="footer"> &copy; 2023 Willow View Farm Ltd.| Made with &hearts; by KLaing </div>   
