
#body{
    background-color: whitesmoke;
}
#login{
    text-decoration: none;
    color:#B1AE91;
}
#login-button{
    border-color: #B1AE91;
    margin: 5px 5px 5px 0px;
    
}
#logout{
    color:#B1AE91;
    background-color:#37392E;
    border-color:#B1AE91;
    margin: 5px;

}
#header{
    display: flex;
    justify-content:flex-end;
    background-color: #37392E;
    color: #B1AE91;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    text-decoration: none;
}
#wvlogo{
    width: 250px;
    position: fixed;
    justify-content: left;
    padding: 30px 10px 100px 10px;
    margin-left: 30px;
}
#sticky-nav{
    height:200px;
    color:white;
    display:flex;
    justify-content: space-between;
}
nav{
    padding-right: 60px;
    padding-bottom: 60px;
    position: sticky;
    text-align: center;
    font-size: 25px;
    /* background-color: #37392E; */
    background-color: rgba(55, 57, 46, 0.7);
}
.nav-link:hover{
    color: #B2675E;
}
.nav-link{
    color: white;
    font-size: 32px;
}
.is active{
    color:white;
}
nav a.active{
    color:white!important;
}
.navbar-toggler{
    filter: invert(100%);
}


#footer {
    text-align: center;
    padding: 20px 0;
    background-color: #37392E;
    margin-top: 40px;
    color: #B1AE91;
}
:host{
    width: 100vw;
    height: 100vh;
}



/*Colour Scheme
(dark green)Black Olive: 37392E
(light green)Sage: B1AE91
(reddish brwn) Redwood: B2675E
(mid green) Reseda green: 839073
Platinum #D7D9D7
yellow: #FFD07B

*/




