carousel-inner{
    margin:auto;
}
.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}

.c-item{
    height:480px;
}

.c-img{
    height: 100%;
    object-fit:cover;
    filter: brightness();
}
.c-point{
    filter: invert(100%);
}

#home-card-container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.info-cards{
    margin-bottom: 50px;
}
#photo1{
  object-fit: fill;
  margin-top: 30px;

}

#photo3{
    margin-top: 50px;

}
