<!--Carousel for top of HOME PAGE-->
<div id="homeCarousel" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active c-point"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"
            class="c-point"></button>
        <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"
            class="c-point"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="./assets/homeimages/combinerow_7072.JPG" class="d-block w-100 c-img" alt="Slide 1">
        </div>
        <div class="carousel-item c-item">
            <img src="./assets/homeimages/binyard_0452.JPG" class="d-block w-100 c-img" alt="Slide 2">
        </div>
        <div class="carousel-item c-item">
            <img src="./assets/homeimages/wheat_2021.jpeg" class="d-block w-100 c-img" alt="Slide 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--3 Cards total in Home Page-->
<div class="row mx-3">
    <div id="home-card-container" class="col-lg-12">
        <!--Card1: Our Mission -->
        <div class="info-cards">
            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img id="photo1" src="./assets/homeimages/graincart_233.jpg" class="img-fluid rounded-start"
                            alt="image of WV farm">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title display-6 mt-2">Our Mission</h5>
                            <ul class="card-text mt-3">
                                <li>Being good stewards of the resources and supplies
                                    we use on a daily basis.</li>
                                <li>Providing top quality food through crop planning,
                                    protection and nutrition.</li>
                                <li>Researching and incorporating best farm practises.</li>
                                <li>Trying our best to keep up to technology and
                                    its application in agriculture.</li>
                                <li>Value diversity – accept our differences;
                                    sometimes accept change.</li>
                                <li>Help each other when challenges present themselves</li>
                                <li>Show respect and listen to concerns</li>
                                <li>Maximizing our potential - showing our skills and capabilities.
                                    Focus on what we can control</li>
                                <li>Providing a balance between CHALLENGE and SECURITY.</li>
                                <li>Continue to find ways to make this a better place to work</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Card2:What We Do-->
        <div class="info-cards">
            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title display-6 mt-2">What We Do</h5>
                            <p class="card-text mt-5">Willow View Farm Ltd is a family owned and operated grain farm located
                                in
                                northwest
                                Saskatchewan. Our business focus is to produce high quality cereal, oilseed and pulse
                                grain.
                                We
                                accomplish this through utilizing leading practices and technology.<br><br>Regenerative
                                agriculture is a production system Willow View Farm practices and continues to adapt new
                                principles. Focus is placed on minimizing soil disturbance, maintaining soil cover and
                                maximizing crop diversity. Willow View began the no-till practise in 1997. No-till is a
                                practise adopted to minimize soil disturbance. As a result, soil organic matter,
                                nutrient
                                cycling, water infiltration and retention has improved. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img id="photo2" src="./assets/homeimages/seeding_2037.jpg" class="img-fluid rounded-start"
                            alt="image of crops grown">
                    </div>
                </div>
            </div>
        </div>
        <!--Card3:Employee Quotes: What Employees are Saying-->
        <div class="info-cards">
            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img id="photo3" src="./assets/homeimages/employee_124623.jpg" class="img-fluid rounded-start"
                            alt="image of wv employee">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title display-6 mt-2">What Employees Are Saying</h5>
                            <blockquote class="blockquote text-center">
                                <p class="card-text mt-4">I have gained a lot of experience by being part of your team. I
                                    will go
                                    home with many good and fun memories from your farm.</p>
                                <footer class="blockquote-footer">Frederik from <cite title="Source Title">Switzerland</cite>
                                </footer>
                                <p>A second time on your farm. Thank you for the good five months on your farm. It was another great experience.</p>
                                <footer class="blockquote-footer">Ruth from <cite title="Source Title">Switzerland</cite></footer>
                                <p>I have learned some new thing and learned a whole
                                    new
                                    family. I will never forget.</p>
                                <footer class="blockquote-footer">Mikkel from <cite title="Source Title">Denmark</cite></footer>

                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>